
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.formClass{
    background-color: #F3F3F3;
}
.formClass input{
    outline: none; 
    background-color: #F3F3F3;      
}
.modal{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    position: fixed;
  
}
.sign{
    background-color: #fff;
    width: 400px;
}
.other{
    position: relative;
    width: 100%;
    padding:10px;
    border-top:2px solid #f3f3f3;
    text-align: center;
}

.fb, .goog{
    padding: 12px;
    width: 100%;
    height: 50px;
    background-color: #f3f3f3;
    border-radius:10px;
    margin: 10px 0;    
}

.email input, .pass input{
    outline: none;
    font-weight: bold;
}
.submit{
    width: 100%;
}


 
/* @media(max-width:768px){
    .formClass input{
        width: 250px;
    }
}   */